#search{
    margin: 2rem;
    width:350px;
    border:2px solid #fff;
    font-size: 18px;
    border-radius: 25px;
    padding:8px 20px 8px 45px;
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: #fff;
    transition: all ease-in-out;
    filter: brightness(170%);
}

input[type=search]:focus{
    width:420px;
    filter: brightness(100%);
}

